.receiptBody .bold {
  font-weight: bold;
}
.receiptBody .totalToPay {
  font-weight: bold;
  margin-top: 20px;
}
.receiptBody .receipt-header {
  font-weight: bold;
  margin-bottom: 20px;
}
.receiptBody .item-name {
  width: 50%;
  margin-bottom: 10px;
}
.receiptBody .details {
  padding: 0 30px;
}
.receiptBody .receipt-footer {
  margin-bottom: 20px;
}

.btnViewDetails a {
  float: right;
}

.promotions {
  margin-bottom: 30px;
}
